// sizing
.w-33 {
    width: 33.333% !important;
}

.w-66 {
    width: 66.666% !important;
}

//   position
.top-16 {
    top: 16px !important;
}

// style
.title-display {
    font-family: "Shrikhand" !important;
}

//  font
.ff-sec {
    font-family: 'Saira Extra Condensed' !important;
}

.fw-heavy {
    font-weight: 900 !important;
}

// letter-spacing
.letter-14 {
    letter-spacing: 14px;
}

.letter-16 {
    letter-spacing: 16px;
}

.letter-20 {
    letter-spacing: 20px;
}

.letter-48 {
    letter-spacing: 48px;
}

.letter-64 {
    letter-spacing: 64px;
}

.letter-80 {
    letter-spacing: 80px;
}

// background
// gradient
.bg-nav {
    background: linear-gradient(0, $secondary -100%, $primary 100%) !important;
}

.bg-linear-top {
    @include gd-linear(0deg);
}

.bg-linear-left {
    @include gd-linear(270deg);
}

.bg-linear-right {
    @include gd-linear(90deg);
}

.bg-radial-inner {
    @include gd-radial($secondary-dark, $black);
}

.bg-radial-outer {
    @include gd-radial($black, $secondary-dark);
}

//opacity
.opacity-5 {
    opacity: .5;

}

//border
.border-dotted-faq {
    @include border-dotted(2px, 0, 2px, 0, $white);
}

.border-dotted-faq-item {
    @include border-dotted(0, 0, 2px, 0, $white);

    @include medium {
        border: none;
    }
}

// divide
.divide-1 {
    @include divide-(1px);
}

.divide-2 {
    @include divide-(2px);
}

.divide-12 {
    @include divide-(12px);
}

.divide-md-2 {
    @include divide-(2px);

    @include large {
        display: none;
    }
}

.divide-vertical {
    width: 1px;
    height: auto;
    background: $white;
}

// display
.d-lg-block {
    display: none;

    @include large {
        display: block;
    }
}

.d-md-block {
    display: none;

    @include medium {
        display: block;
    }
}

.d-lg-none {
    display: block;

    @include large {
        display: none;
    }
}

.d-md-none {
    display: block;

    @include medium {
        display: none;
    }
}

// hover
.link-hover {
    @include hover ($primary, transparent);
}

.card-hover-primary {
    &:hover {
        box-shadow: 0 0 16px 8px #8F00FFCC;
    }
}

.arrow-hover {
    &:hover {
        filter: opacity(.6);
    }
}

.hover-underline {
    display: block;

    &:hover {
        border-bottom: 1px solid $secondary-light !important;
    }
}


// animate
.spin-rl {
    /* transform */
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    border-bottom-color: transparent;
    animation: spin-rl 5s linear 3s infinite;
}

@-webkit-keyframes spin-rl {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin-rl {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin-rl {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin-rl {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



// swiper
.overflow-init{
    overflow: initial;
}

.swiper {
    &-slide {
        word-break: break-all;
    }
}

/* 滾動條可拖曳區塊的顏色 */
.swiper-scrollbar-drag {
    background-color: white;
}

/* 整個滾動條的背景顏色 */
.swiper-scrollbar {
    background-color: gray;
}

.alphabox {
    height: 351px;
    background-size: cover;
    background-position: center;
    padding: 16px;

    &:nth-child(1){
        background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/carousel.png?raw=true);
    }
    &:nth-child(2){
        background-image: url(https://www.asmag.com.tw/upload/pic/case/42949.8646269.jpg);
    }
    &:nth-child(3){
        background-image: url(https://cio.com.tw/wp-content/uploads/1200-technology-5917370.jpg);
    }
    @include medium {
      height: 560px;
      padding-right: 40px;
    }
    
    &-title {
      letter-spacing: 24px;
      @include medium {
        letter-spacing: 32px;
        margin-right: -32px;
      }
    }
  }
  
  // 箭頭
  .swiper-button-next, .swiper-button-prev {
    color: #fff;
    position: initial;
    margin-top: 0;
    width: auto;
    height: auto;
    
    &::after {
      content: '';
    }
  }
  

.line-camp-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

// .swiper {
//     width: 100%;
//     height: 100%;

//     &-slide {
//         z-index: 999;
//         width: 100%;
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//         display: flex;
//         flex-direction: column;
//         align-items: start;

//         &:nth-child(1) {
//             background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/carousel.png?raw=true);
//         }

//         &:nth-child(2) {
//             background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/meeting.png?raw=true);
//         }

//         h3 {
//             font-size: 64px !important;
//         }

//         h4 {
//             font-size: 24px;
//             letter-spacing: 24px;
//         }
//     }

//     @include medium {
//         &-slide {
//             display: flex;
//             flex-direction: column;
//             align-items: end;

//             h3 {
//                 font-size: 96px !important;
//             }

//             h4 {
//                 font-size: 32px;
//                 letter-spacing: 32px;
//             }
//         }
//     }
// }

.product {
    margin-top: -2px;

    &-nav-item {
        background-color: $black !important;
        color: $white !important;

        &-active {
            background-color: $white !important;
            color: $black !important;
        }
    }

    &-banner {
        &-btn {
            top: 84%;
        }
    }

    &-move {
        h4 {
            border-bottom: 2px solid $black !important;

        }

        @include medium {
            h4 {
                border: none !important;

                &:hover {
                    border-bottom: 2px solid $black !important;
                }
            }
        }

    }
}

.carousel {

    &-control {
        &-btn {
            font-size: 48px;

            &:hover {
                color: $primary !important;
            }

            @include medium {
                font-size: 80px;
            }
        }
    }
}

.about-display {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 24px;

    @include medium {
        font-size: 36px;
        letter-spacing: 36px;
    }

    @include large {
        font-size: 48px;
        letter-spacing: 48px;
    }

    @include xl {
        font-size: 60px;
        letter-spacing: 60px;
    }

    @include xxl {
        font-size: 96px;
        letter-spacing: 96px;
    }
}

.news {
    &-number {
        font-family: 'Saira Extra Condensed';
        font-weight: 300;
        font-size: 96px;

        @include medium {
            font-size: 128px;
        }
    }
}

.page {
    &-link {
        &-active {
            text-decoration: underline;
        }
    }
}

.social {

    &-list {
        border-top: 1px solid $white !important;
        flex-direction: column !important;


        @include medium {
            border: none !important;
            flex-direction: row !important;
        }
    }
}

.contact {
    &-character-item {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/robot/diane_choose.png?raw=true);
        }

        &:nth-child(2) {
            background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/robot/felix_choose.png?raw=true);
        }

        &:nth-child(3) {
            background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/robot/karina_choose.png?raw=true);
        }

        &:nth-child(4) {
            background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/robot/vito_choose.png?raw=true);
        }

        @include large {
            // width: 72.29% !important;
            background-size: 80%;

            &:nth-child(1) {
                background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/robot/diane_horizontal.png?raw=true);
                background-position: 0 center;
            }

            &:nth-child(2) {
                background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/robot/felix_horizontal.png?raw=true);
                background-position: 100% center;
            }

            &:nth-child(3) {
                background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/robot/karina_horizontal.png?raw=true);
                background-position: 0 center;
            }

            &:nth-child(4) {
                background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/robot/vito_horizontal.png?raw=true);
                background-position: 100% center;
            }
        }

    }
}