// sizing
.w-33 {
    width: 33.333% !important;
}

.w-66 {
    width: 66.666% !important;
}

//   position
.top-16 {
    top: 16px;
}

.left-center {
    left: 50%;
    transform: translate(-50%, 0);
}

// font
// fs
@include large {
    h2 {
        font-size: 48px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    h4 {
        font-size: 32px !important;
    }
}

@include medium {
    .fs-md-64 {
        font-size: 64px !important;
    }
}

// style
.title-display {
    font-family: "Shrikhand" !important;
}

.section-title {
    font-size: 40px;

    @include medium {
        font-size: 48px;
    }
}

// letter-spacing
.letter-16 {
    letter-spacing: 16px;
}

.letter-20 {
    letter-spacing: 20px;
}

.letter-48 {
    letter-spacing: 48px;
}

.letter-80 {
    letter-spacing: 80px;
}

// background
// gradient
.bg-nav {
    background: linear-gradient(0, $secondary -100%, $primary 100%) !important;

}

.bg-linear-top {
    @include gd-linear(0deg);
}

.bg-linear-left {
    @include gd-linear(270deg);
}

.bg-linear-right {
    @include gd-linear(90deg);
}

.bg-radial-inner {
    @include gd-radial($secondary-dark, $black);
}

.bg-radial-outer {
    @include gd-radial($black, $secondary-dark);
}


// divide
.divide {
    @include divide;
}

.divide-md {
    @include divide;

    @include large {
        display: none;
    }
}

.divide-vertical {
    width: 1px;
    height: auto;
    background: $white;
}

// display
.d-lg-block {
    display: none;

    @include large {
        display: block;
    }
}

.d-md-block {
    display: none;

    @include medium {
        display: block;
    }
}

.d-lg-none {
    display: block;

    @include large {
        display: none;
    }
}

.d-md-none {
    display: block;

    @include medium {
        display: none;
    }
}

// hover
.link-hover {
    @include hover ($primary, transparent);
}

.card-hover-primary {
    &:hover {
        box-shadow: 0 0 16px 8px #8F00FFCC;
    }
}

.arrow-hover {
    &:hover {
        filter: opacity(.6);
    }
}

// animate
.spin-rl {
    /* transform */
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    border-bottom-color: transparent;
    animation: spin-rl 5s linear 3s infinite;
}

@-webkit-keyframes spin-rl {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin-rl {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin-rl {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin-rl {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


// swiper
.swiper {
    width: 100%;
    height: 100%;

    &-slide {
        z-index: 999;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: start;

        &:nth-child(1) {
            background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/carousel.png?raw=true);
        }

        &:nth-child(2) {
            background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/meeting.png?raw=true);
        }

        h3 {
            font-size: 64px !important;
        }

        h4 {
            font-size: 24px;
            letter-spacing: 24px;
        }
    }

    @include medium {
        &-slide {
            display: flex;
            flex-direction: column;
            align-items: end;

            h3 {
                font-size: 96px !important;
            }

            h4 {
                font-size: 32px;
                letter-spacing: 32px;
            }
        }
    }
}

.product {
    margin-top: -2px;

    &-nav-item {
        background-color: $black !important;
        color: $white !important;

        &-active {
            background-color: $white !important;
            color: $black !important;
        }
    }

    &-banner {
        &-btn {
            top: 84%;
        }
    }

    &-move {
        h4{
            border-bottom: 2px solid $black !important;

        }

        @include medium {
            h4 {
                border: none !important;

                &:hover {
                    border-bottom: 2px solid $black !important;
                }
            }
        }

    }
}

.carousel {

    &-control {
        &-btn {
            font-size: 48px;

            &:hover {
                color: $primary !important;
            }

            @include medium {
                font-size: 80px;
            }
        }
    }
}