<div class="container">
    <div class="footer d-flex justify-content-between py-40 py-md-56">
        <div>
            <h4 class="title-display fs-32 mb-8 mb-md-0">ALPHABOX+</h4>
            <p class="fw-bold d-md-block">Copyright © 2023 Hexschool.</p>
        </div>
        <div class="mb-8 mb-md-0"><span class="material-symbols-outlined fs-80">
                emergency
            </span></div>

        <ul class="d-flex justify-content-end p-0 m-0">
            <li class="mb-8 mb-md-0 me-lg-24">
                <a class="text-dark fw-bold link-hover" href="about.html">關於我們</a>
            </li>
            <li class="mb-8 mb-md-0 me-lg-24">
                <a class="text-dark fw-bold link-hover" href="product-diane.html">產品資訊</a>
            </li>
            <li class="mb-8 mb-md-0 me-lg-24">
                <a class="text-dark fw-bold link-hover" href="faq.html">常見問題</a>
            </li>
            <li class="mb-8 mb-md-0">
                <a class="text-dark fw-bold link-hover" href="#">隱私政策</a>
            </li>

        </ul>
        <p class="fw-bold d-md-none">Copyright © 2023 Hexschool.</p>

    </div>
</div>