<nav class="navbar navbar-expand-lg navbar-dark border-bottom py-16 bg-nav">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h1 class="title-display fst-italic text-white">ALPHABOX+</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pt-16 pb-32 py-md-0 text-center"
            id="navbarSupportedContent">
            <div class="divide-md mb-24"></div>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item me-lg-24 mb-4 mb-lg-0">
                    <a class="nav-link fw-normal" aria-current="page" href="#">產品</a>
                </li>
                <li class="nav-item me-lg-24 mb-4 mb-lg-0">
                    <a class="nav-link fw-normal" href="#">關於我們</a>
                </li>
                <li class="nav-item me-lg-24 mb-4 mb-lg-0">
                    <a class="nav-link fw-normal" href="#">最新消息</a>
                </li>
                <li class="nav-item me-lg-24 mb-4 mb-lg-0">
                    <a class="nav-link fw-normal" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-normal" href="#">聯絡我們</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-lg-24 mb-4 mb-lg-0">
                    <a class="nav-link fw-normal" aria-current="page" href="#">註冊</a>
                </li>
                <li class="nav-item me-lg-24 mb-4 mb-lg-0">
                    <a class="nav-link fw-normal" href="#">登入</a>
                </li>
                <li
                    class="nav-item d-flex justify-content-center align-items-center mt-16 mt-lg-0">
                    <a class="text-dark bg-white rounded px-16 py-8 fw-normal" href="#"><span class="material-symbols-outlined align-middle me-4">
                            point_scan
                        </span>訂閱</a>
                </li>
            </ul>
        </div>
    </div>

</nav>