<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-16 border-bottom border-white">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h1 class="title-display fst-italic text-white">ALPHABOX+</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-24 px-md-0 py-24 py-md-0" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item me-lg-40">
                    <a class="nav-link" aria-current="page" href="#">產品</a>
                </li>
                <li class="nav-item me-lg-40">
                    <a class="nav-link" href="#">關於我們</a>
                </li>
                <li class="nav-item me-lg-40">
                    <a class="nav-link" href="#">最新消息</a>
                </li>
                <li class="nav-item me-lg-40">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">聯絡我們</a>
                </li>
            </ul>
            <div class="divide"></div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-lg-24">
                    <a class="nav-link active" aria-current="page" href="#">註冊</a>
                </li>
                <li class="nav-item me-lg-24">
                    <a class="nav-link" href="#">登入</a>
                </li>
                <li class="nav-item d-flex justify-content-center align-items-center bg-white rounded px-16 py-8 mt-16 mt-lg-0">
                    <a class="text-dark" href="#"><span class="material-symbols-outlined align-middle me-4">
                        point_scan
                        </span>訂閱</a>
                </li>
            </ul>
        </div>
    </div>
</nav>