.bg-banner {
  width: 100%;
  // height: 100vh; 待測試
  @include gd-linear(180deg);


  @include medium{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.bg-carousel{
  padding-top: 20%;
  z-index: -2;
}
.bg-carousel-img{
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/carousel_background.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include medium{
    background-image: url(https://github.com/hd1313169/hex_fe_week8_2023/blob/main/assets/images/carousel_background.png?raw=true);
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}


.news{

  &-item{
    width: 100%;
    margin-top: -1px;
  }

  @include medium{
    &-item{
      width: calc(50% - 1px);
    }
  
  }
}