<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX+ | AI 虛擬陪伴</title>
  <link rel="shortcut icon" href="../assets/images/alphabox+.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="bg-radial-inner text-white pt-60 pt-md-160">
      <div class="container">
        <div class="mb-60 mb-md-160">

          <h2 class="fs-64 letter-48 mb-40 mb-md-16">聯絡我們</h2>
          <div class="row">
            <div class="col-12 col-md-6 offset-md-1">
              <p class="fw-normal mb-32 mb-md-64">您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24
                小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。</p>
              <p class="mb-32 mb-md-64">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！</p>
              <input type="text" class="form-control px-16 py-8 mb-16" id="inputName" aria-describedby=""
                placeholder="姓名">
              <input type="email" class="form-control px-16 py-8 mb-16" id="inputEmail1" aria-describedby="emailHelp"
                placeholder="EMAIL">
              <input type="number" class="form-control px-16 py-8 mb-16" id="inputPhone" aria-describedby=""
                placeholder="聯絡電話">
              <input type="text" class="form-control px-16 pt-8 pb-80 mb-16" id="inputText" placeholder="COMMENTS">
              <button type="submit" class="w-100 btn btn-primary ms-auto mb-60 mb-md-0"><span
                  class="material-symbols-outlined align-middle me-4">
                  point_scan
                </span>送出</button>
            </div>

            <div class="col-12 col-md-3 offset-md-1">
              <div class="fw-normal">
                <div class="mb-40">
                  <p class="opacity-5">客服時間</p>
                  <p>週一至週五 09:00-18:00</p>
                </div>
                <div class="mb-40">
                  <p class="opacity-5">聯絡地址</p>
                  <p>高雄市新興區民生一路 56 號</p>
                </div>

                <p class="opacity-5">聯絡地址</p>
                <ul class="m-0 p-0">
                  <li> <a href="tel:+886-2-12345678">+886-2-12345678</a>
                  </li>
                  <li> <a href="mailto:customer@alphabox.com">customer@alphabox.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divide-1 d-md-block"></div>
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-12 col-md-5">
            <ul class="d-flex justify-content-between flex-wrap m-0 p-0 py-40 pb-md-48 social-list">
              <li class="mb-16 mb-md-0"><a href="#" class="fw-light">INSTAGRAM</a></li>
              <li class="mb-16 mb-md-0"><a href="#" class="fw-light">FACEBOOK</a></li>
              <li class="mb-16 mb-md-0"><a href="#" class="fw-light">TWITTER</a></li>
              <li><a href="#" class="fw-light">LINKEDIN</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="bg-white pt-60 pt-md-160 pb-md-120">
      <div class="container">
        <h3 class="fs-64 letter-48 text-secondary-light fw-heavy mb-16 md-md-24">選擇自己要的角色</h3>
        <p class="fs-48 fw-heavy text-black mb-24 mb-md-80"><span
            class="text-primary-light me-8 me-md-24">20K+</span>使用者喜歡我們的服務</p>
      </div>

      <ul class="m-0 p-0">
        <li class="position-relative contact-character-item py-68">
          <div class="container">
              <a href="product-diane.html" class="stretched-link fs-64 fst-iltalic title-display">Diane</a>
          </div>
        </li>
        <li class="position-relative contact-character-item py-68">
          <div class="container">
              <a href="product-diane.html" class="stretched-link fs-64 fst-iltalic title-display d-block text-end">Felix</a>
          </div>
        </li>
        <li class="position-relative contact-character-item py-68">
          <div class="container">
            <div class="row">
              <a href="product-diane.html" class="stretched-link fs-64 fst-iltalic title-display">Karina</a>
            </div>
          </div>
        </li>
        <li class="position-relative contact-character-item py-68">
          <div class="container">
            <div class="row">
              <a href="product-diane.html" class="stretched-link fs-64 fst-iltalic title-display d-block text-end">Vito</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>