<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX+ | AI 虛擬陪伴</title>
  <link rel="shortcut icon" href="../assets/images/alphabox+.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <div class="bg-banner position-relative">
    <%- include('./layout/header'); -%>
      <div class="container">
        <div class="pt-28 pb-32 py-md-56">
          <div class="row flex-row-reverse">
            <div class="col-12 col-md-3">
              <div class="divide mb-8"></div>
              <h5 class="text-white mb-32 mb-md-0">ALPHABOX+ STUDIO</h5>
            </div>
            <div class="col-12 col-md-6">
              <img class="d-block mx-auto spin-rl" src="../assets/images/circle.png" alt="circle" style="width: 196px;">
            </div>
            <div class="col-md-3 d-md-block">
              <div class="h-100 d-flex flex-column justify-content-end align-items-end">
                <h5 class="text-white mb-8">最新消息！新版本 v15.4 釋出，搶先體驗！</h5>
                <div class="divide"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="banner">
          <div class="d-md-none">
            <h4 class="title-display text-center text-white d-flex justify-content-between align-items-center">
              <span>A</span>
              <span>L</span>
              <span>P</span>
              <span>H</span>
              <span>A</span>
              <span>B</span>
              <span>O</span>
              <span>X</span>
              <span>+</span>
            </h4>
            <p class="text-center text-white mb-24 d-flex justify-content-between align-items-center">
              <span>擁</span>
              <span>抱</span>
              <span>未</span>
              <span>來</span>
              <span>科</span>
              <span>技</span>
              <span>，</span>
              <span>專</span>
              <span>屬</span>
              <span>您</span>
              <span>的</span>
              <span>3</span>
              <span>D</span>
              <span>立</span>
              <span>體</span>
              <span>投</span>
              <span>影</span>
              <span>陪</span>
              <span>伴</span>
              <span>機</span>
              <span>器</span>
              <span>人</span>
            </p>
          </div>
          <div class="row justify-content-between">
            <div class="col-12 col-md-3">
              <div class="position-relative h-100 card-hover-primary pb-16 pb-md-0">
                <img src="../assets/images/robot/diane.png" alt="Diane" class="d-md-block">
                <img src="../assets/images/robot/diane_square1.png" alt="Diane" class="d-md-none">
                <p class="position-absolute top-16 left-center title-display fs-32 text-center text-white">Diane</p>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="d-md-block">
                <h4 class="title-display text-center text-white d-flex justify-content-between align-items-center">
                  <span>A</span>
                  <span>L</span>
                  <span>P</span>
                  <span>H</span>
                  <span>A</span>
                  <span>B</span>
                  <span>O</span>
                  <span>X</span>
                  <span>+</span>
                </h4>
                <p class="text-center text-white mb-24 d-flex justify-content-between align-items-center">
                  <span>擁</span>
                  <span>抱</span>
                  <span>未</span>
                  <span>來</span>
                  <span>科</span>
                  <span>技</span>
                  <span>，</span>
                  <span>專</span>
                  <span>屬</span>
                  <span>您</span>
                  <span>的</span>
                  <span>3</span>
                  <span>D</span>
                  <span>立</span>
                  <span>體</span>
                  <span>投</span>
                  <span>影</span>
                  <span>陪</span>
                  <span>伴</span>
                  <span>機</span>
                  <span>器</span>
                  <span>人</span>
                </p>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="position-relative h-100 card-hover-primary pb-16 pb-md-0">
                    <img src="../assets/images/robot/felix.png" alt="Felix" class="d-md-block">
                    <img src="../assets/images/robot/felix_square1.png" alt="Felix" class="d-md-none">
                    <p class="position-absolute top-16 left-center title-display fs-32 text-center text-white">Felix</p>
                    <a href="#" class="stretched-link"></a>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="position-relative h-100 card-hover-primary pb-16 pb-md-0">
                    <img src="../assets/images/robot/karina.png" alt="Karina" class="d-md-block">
                    <img src="../assets/images/robot/karina_square1.png" alt="karina" class="d-md-none">
                    <p class="position-absolute top-16 left-center title-display fs-32 text-center text-white">Karina
                    </p>
                    <a href="#" class="stretched-link"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 position-relative">
              <div class="position-relative h-100 card-hover-primary pb-16 pb-md-0">
                <img src="../assets/images/robot/vito.png" alt="Vito" class="d-md-block">
                <img src="../assets/images/robot/vito_square1.png" alt="Vito" class="d-md-none">
                <p class="position-absolute top-16 left-center title-display fs-32 text-center text-white">Vito</p>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div>
          <div class="w-100 bg-linear-left py-20 mt-32 mt-md-40"></div>
        </div>
      </div>
  </div>

  <div class="bg-radial-inner bg-carousel position-relative pb-52 pb-md-48">
    <div class="bg-carousel-img position-absolute top-0 start-0"></div>
    <div class="container">
      <h2 class="text-white letter-16 mb-20 mb-md-16 pt-8">什麼是<br class="mb-8 mb-md-12">ALPHABOX+</h2>
    </div>

    <div class="divide mb-16 mb-md-32"></div>
    <div class="container">
      <div class="d-flex align-items-center">
        <img src="../assets/images/line_start_arrow_notch.png" alt="arrow"
          class="me-52 button-prev d-lg-block arrow-hover" style="width: 180px;">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide px-16 px-md-40 pt-160 pb-16 py-md-160 text-white position-relative">
              <h3 class="title-display">01</h3>
              <h4 class="mb-8 mb-md-16">立體投影技術</h4>
              <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              <a href="#" class="stretched-link"></a>
            </div>
            <div class="swiper-slide px-16 px-md-40 pt-160 pb-16 py-md-160 text-white position-relative">
              <h3 class="title-display">02</h3>
              <h4 class="mb-8 mb-md-16">立體投影技術</h4>
              <p>透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <img src="../assets/images/line_end_arrow_notch.png" alt="arrow"
          class="ms-52 button-next d-lg-block arrow-hover" style="width: 180px;">
      </div>
      <div class="w-100 bg-linear-right py-20 mt-32 mt-md-40"></div>
    </div>
  </div>

  <div class="bg-radial-inner pt-60 pb-80 pt-md-160 pb-md-16 text-white">
    <div class="container">
      <h2 class="section-title letter-48 mb-32 mb-md-40">最新消息</h2>
      <div class="px-16 py-32 py-md-40 border-top border-bottom">
        <p class="letter-16 mb-8"><span class="material-symbols-outlined align-middle me-16">emergency</span>2023.06.30
        </p>
        <h3 class="letter-20 mb-12">產品升級公告</h3>
        <div class="d-flex align-items-top justify-content-between flex-wrap">
          <p class="w-75 mb-16 mb-md-0">榮幸地宣布，ALPHABOX+
            已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
          <a href="#"><img src="../assets/images/line_end_arrow_notch.png" alt="arrow" class="arrow-hover"
              style="width: 192px;"></a>
        </div>
      </div>
      <div class="d-flex flex-wrap mb-40 mb-md-80">
        <div class="recentNews-item px-16 py-32 py-md-40 border-top border-bottom">
          <p class="letter-16 mb-8"><span
              class="material-symbols-outlined align-middle me-16">emergency</span>2023.06.30
          </p>
          <h3 class="letter-20 mb-12">限時優惠活動</h3>
          <p class="mb-16">榮幸地宣布，ALPHABOX+
            為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
          <a href="#"><img src="../assets/images/line_end_arrow_notch.png" alt="arrow" class="arrow-hover"
              style="width: 86px; height: auto;"></a>
        </div>
        <div class="divide-vertical d-md-block"></div>

        <div class="recentNews-item px-16 py-32 py-md-40 border-top border-bottom">
          <p class="letter-16 mb-8"><span
              class="material-symbols-outlined align-middle me-16">emergency</span>2023.06.30
          </p>
          <h3 class="letter-20 mb-12">新功能上線</h3>
          <p class="mb-16">榮幸地宣布，ALPHABOX+
            為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
          <a href="#"><img src="../assets/images/line_end_arrow_notch.png" alt="arrow" class="arrow-hover"
              style="width: 86px; height: auto;"></a>
        </div>
      </div>
      <div class="position-relative mx-auto text-center mb-md-96 mb-0">
        <img src="../assets/images/Group 2.png" alt="more" class="spin-rl" style="width: 132px;">
        <a href="#" class="position-absolute top-50 start-50 translate-middle text-center text-white">查看更多</a>
      </div>
      <p class="text-end d-md-block">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
    </div>
  </div>

  <div class="bg-radial-outer position-relative bg-share pt-60 pb-80 pt-md-160 pb-md-40 text-white">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center flex-wrap mb-16 mb-md-24">
        <div>
          <h2 class="section-title letter-48 mb-16">最新消息</h2>
          <div class="d-flex align-items-center mb-24 mb-lg-0">
            <p class="me-4">01</p>
            <div class="bg-white me-4" style="width: 16px;height: 2px;"></div>
            <p>04</p>
          </div>
        </div>
        <p class="">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
      </div>
      <div class="mb-8 mb-md-0"><span class="material-symbols-outlined fs-80 mb-16 mb-md-24">
          emergency
        </span></div>

      <div class="row">
        <div class="col-12">
          <!-- 分享 1 -->
          <div class="bg-primary-dark p-24 d-flex flex-column justify-content-between mb-24">
            <div style="margin-bottom: 36%;">
              <h5 class="mb-32"><span class="me-8">Zona</span><span class="me-8 fs-8">●</span><span>Taipei</span></h5>
              <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
            </div>
            <h6><span class="me-16">●</span><span class="me-16">●</span><span>ALPHABOX+ Dianne</span></h6>
          </div>
          <!-- 分享 2 -->
          <div class="bg-white p-24 d-flex flex-column justify-content-between text-black mb-24">
            <div style="margin-bottom: 36%;">
              <h5 class="mb-32"><span class="me-8">Lin</span><span class="me-8 fs-8">●</span><span>Chiayi</span></h5>
              <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
            </div>
            <h6><span class="me-16">●</span><span class="me-16">●</span><span>ALPHABOX+ Felix</span></h6>
          </div>
          <!-- 分享 3 -->
          <div class="bg-primary-dark p-24 d-flex flex-column justify-content-between mb-24">
            <div style="margin-bottom: 36%;">
              <h5 class="mb-32"><span class="me-8">云</span><span class="me-8 fs-8">●</span><span>Taipei</span></h5>
              <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
            </div>
            <h6><span class="me-16">●</span><span class="me-16">●</span><span>ALPHABOX+ Dianne</span></h6>
          </div>
          <!-- 分享 4 -->
          <div class="bg-white p-24 d-flex flex-column justify-content-between text-black">
            <div style="margin-bottom: 36%;">
              <h5 class="mb-32"><span class="me-8">Zichi</span><span class="me-8 fs-8">●</span><span>Kaohsiung</span></h5>
              <p>讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
            </div>
            <h6><span class="me-16">●</span><span class="me-16">●</span><span>ALPHABOX+ Vito</span></h6>
          </div>
        </div>
      </div>


    </div>


  </div>
  <div class="bg-radial-outer position-relative">
    <!-- <span class="position-absolute bg-share-text title-display">ALPHABOX+</span> -->
    <!-- <div class="bg-radial-inner pt-60 pb-80 pt-md-160 pb-md-40 text-white">
    </div> -->
  </div>
  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
          type: "progressbar",
        },
        navigation: {
          nextEl: ".button-next",
          prevEl: ".button-prev",
        },
      });
    </script>
</body>

</html>