<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX+ | AI 虛擬陪伴</title>
  <link rel="shortcut icon" href="../assets/images/alphabox+.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header-product'); -%>
    <div class="bg-black py-16">
      <div class="container">
        <ul class="product-nav d-flex justify-content-center align-items-center m-0 mx-auto">
          <li class="me-24"><a href="#"
              class="px-16 px-lg-80 py-4 title-display border border-white rounded-pill product-nav-item product-nav-item-active">Diane</a>
          </li>
          <li class="me-24"><a href="#"
              class="px-16 px-lg-80 py-4 title-display border border-white rounded-pill product-nav-item">Felix</a>
          </li>
          <li class="me-24"><a href="#"
              class="px-16 px-lg-80 py-4 title-display border border-white rounded-pill product-nav-item">Karina</a>
          </li>
          <li class=""><a href="#"
              class="px-16 px-lg-80 py-4 title-display border border-white rounded-pill product-nav-item">Vito</a>
          </li>
        </ul>
      </div>

    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>